@page
@model IndexModel
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">Deseret Ward (Team) Sacrament Planner</h1>
    <img id="sleepy" src="images/stay-awake-in-church.jpg"/>
</div>

