@page
@using SacramentMeetingPlanner.Models
@model SacramentMeetingPlanner.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Deseret Ward</h1>

<h4>Create New Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4 create-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <select asp-for="Meeting.Conductor" class="form-select" asp-items="Model.CallingMembers">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymnNumber" class="form-control" min="1" />
                <span asp-validation-for="Meeting.OpeningHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymnNumber" class="form-control" min="1" />
                <span asp-validation-for="Meeting.SacramentHymnNumber" class="text-danger"></span>
            </div>
            <label>Do you want a rest hymn?</label>
            <input class="coupon_question" type="checkbox" name="coupon_question" value="0" min="1" onchange="valueChanged()" />
            <div class="form-group" id="restHymn">
                <label asp-for="Meeting.RestHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.RestHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.RestHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                <input asp-for="Meeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <select asp-for="Meeting.OpeningPrayer" class="form-select" asp-items="Model.Members">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <select asp-for="Meeting.ClosingPrayer" class="form-select" asp-items="Model.Members">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>

            <div class="buttons">
                <a class="showSingle btn btn-success" target="1">Do you have a speaker?</a>
            </div>

            <div id="div1" class="targetDiv">
                <div class="form-group">
                    <label asp-for="Meeting.SpeakerOne" class="control-label"></label>
                    <select asp-for="Meeting.SpeakerOne" class="form-control" asp-items="Model.Members">
                        <option value="No Speaker"></option>
                    </select>
                    <span asp-validation-for="Meeting.SpeakerOne" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Meeting.TopicChoice" class="control-label"></label>
                        @Html.DropDownList("Meeting.TopicChoice", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                        <span asp-validation-for="Meeting.TopicChoice" class="text-danger"></span>
                    </div>
                    <a class="showSingle btn btn-info" target="2">Add/Remove Speaker</a>
                    


                    <div id="div2" class="targetDiv">
                        <div class="form-group">
                            <label asp-for="Meeting.SpeakerTwo" class="control-label">Speaker Two</label>
                            <select asp-for="Meeting.SpeakerTwo" class="form-control" asp-items="Model.Members">
                                <option value="No Speaker"></option>
                            </select>
                            <span asp-validation-for="Meeting.SpeakerTwo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Meeting.TopicChoiceTwo" class="control-label">Topic</label>
                            @Html.DropDownList("Meeting.TopicChoiceTwo", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                            <span asp-validation-for="Meeting.TopicChoiceTwo" class="text-danger"></span>
                        </div>
                        <a class="showSingle btn btn-info" target="3">Add/Remove Speaker</a>
                    </div>

                    <div id="div3" class="targetDiv">
                        <div class="form-group">
                            <label asp-for="Meeting.SpeakerThree" class="control-label">Speaker Three</label>
                            <select asp-for="Meeting.SpeakerThree" class="form-control" asp-items="Model.Members">
                                <option value="No Speaker"></option>
                            </select>
                            <span asp-validation-for="Meeting.SpeakerThree" class="text-danger"></span>
                            <div>
                                <label asp-for="Meeting.TopicChoiceThree" class="control-label">Topic</label>
                                @Html.DropDownList("Meeting.TopicChoiceThree", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                                <span asp-validation-for="Meeting.TopicChoiceThree" class="text-danger"></span>
                            </div>
                            <a class="showSingle btn btn-info" target="4">Add/Remove Speaker</a>
                        </div>
                    </div>

                    <div id="div4" class="targetDiv">
                        <div class="form-group">
                            <label asp-for="Meeting.SpeakerFour" class="control-label">Speaker Four</label>
                            <select asp-for="Meeting.SpeakerFour" class="form-control" asp-items="Model.Members">
                                <option value="No Speaker"></option>
                            </select>
                            <span asp-validation-for="Meeting.SpeakerFour" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Meeting.TopicChoiceFour" class="control-label">Topic</label>
                            @Html.DropDownList("Meeting.TopicChoiceFour", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                            <span asp-validation-for="Meeting.TopicChoiceFour" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#restHymn").hide();
        $(".coupon_question").click(function () {
            if ($(this).is(":checked")) {
                $("#restHymn").show();
            } else {
                $("#restHymn").hide();
            }
        });


        $('.targetDiv').hide();

        $(function () {
            $('.showSingle').click(function () {
                var target = $(this).attr('target');
                $('#div' + target).toggle('.hide');
            });
        });
    </script>
}

