@page
@using SacramentMeetingPlanner.Models
@model SacramentMeetingPlanner.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Deseret Ward</h1>

<h4>Create New Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4 create-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <input asp-for="Meeting.Conductor" class="form-control" />
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.OpeningHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymnNumber" class="text-danger"></span>
            </div>
            <label>Do you want a rest hymn?</label>
            <input class="coupon_question" type="checkbox" name="coupon_question" value="0" onchange="valueChanged()" />
            <div class="form-group" id="restHymn">
                <label asp-for="Meeting.RestHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.RestHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.RestHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                <input asp-for="Meeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>

            <div class="buttons">
                <a class="showSingle" target="1">Do you have a speaker?</a>
            </div>

            <div id="div1" class="targetDiv">
                <div class="form-group">
                    <label asp-for="Meeting.SpeakerOne" class="control-label"></label>
                    <input asp-for="Meeting.SpeakerOne" class="form-control" value="No Speaker" />
                    <span asp-validation-for="Meeting.SpeakerOne" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Meeting.TopicChoice" class="control-label"></label>
                    @*@Html.DropDownList("Meeting.TopicChoice", Html.GetEnumSelectList<Topic>(), "Select Topic", new { @class = "form-control mb-2" })*@
                    @Html.DropDownListFor(model => model.Meeting.TopicChoice,Enum.GetNames(typeof(Models.Topic)).Select(e => new SelectListItem { Text = e }),new { @class = "form-control"})
                    <span asp-validation-for="Meeting.TopicChoice" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#restHymn").hide();
        $(".coupon_question").click(function () {
            if ($(this).is(":checked")) {
                $("#restHymn").show();
            } else {
                $("#restHymn").hide();
            }
        });


        $('.targetDiv').hide();

        $(function () {
            $('.showSingle').click(function () {
                var target = $(this).attr('target');
                $('#div' + target).toggle('.hide');
            });
        });
    </script>
}

