@page
@model SacramentMeetingPlanner.Pages.Meetings.EditModel
@using SacramentMeetingPlanner.Models

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meeting.Id" />
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <select asp-for="Meeting.Conductor" class="form-control" asp-items="Model.CallingMembers"></select>
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymnNumber" class="form-control"/>
                <span asp-validation-for="Meeting.OpeningHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.RestHymnNumber" class="control-label"></label>
                <input asp-for="Meeting.RestHymnNumber" class="form-control" />
                <span asp-validation-for="Meeting.RestHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingHymn" class="control-label"></label>
                <input asp-for="Meeting.ClosingHymn" class="form-control" />
                <span asp-validation-for="Meeting.ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <select asp-for="Meeting.OpeningPrayer" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <select asp-for="Meeting.ClosingPrayer" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>

            @*Speaker One*@
            <div class="form-group">
                <label asp-for="Meeting.SpeakerOne" class="control-label"></label>
                <select asp-for="Meeting.SpeakerOne" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.SpeakerOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicChoice" class="control-label"></label>
                @Html.DropDownList("Meeting.TopicChoice", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                <span asp-validation-for="Meeting.TopicChoice" class="text-danger"></span>
            </div>

            @*Speaker Two*@
            <div class="form-group">
                <label asp-for="Meeting.SpeakerTwo" class="control-label"></label>
                <select asp-for="Meeting.SpeakerTwo" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.SpeakerTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicChoiceTwo" class="control-label"></label>
                @Html.DropDownList("Meeting.TopicChoiceTwo", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                <span asp-validation-for="Meeting.TopicChoiceTwo" class="text-danger"></span>
            </div>

            @*Speaker Three*@
            <div class="form-group">
                <label asp-for="Meeting.SpeakerThree" class="control-label"></label>
                <select asp-for="Meeting.SpeakerThree" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.SpeakerThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicChoiceThree" class="control-label"></label>
                @Html.DropDownList("Meeting.TopicChoiceThree", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                <span asp-validation-for="Meeting.TopicChoiceThree" class="text-danger"></span>
            </div>

            @*Speaker Four*@
            <div class="form-group">
                <label asp-for="Meeting.SpeakerFour" class="control-label"></label>
                <select asp-for="Meeting.SpeakerFour" class="form-control" asp-items="Model.Members"></select>
                <span asp-validation-for="Meeting.SpeakerFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicChoiceFour" class="control-label"></label>
                @Html.DropDownList("Meeting.TopicChoiceFour", Html.GetEnumSelectList<Topic>(), new { @class = "form-control mb-2" })
                <span asp-validation-for="Meeting.TopicChoiceFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
