@page
@model SacramentMeetingPlanner.Pages.Members.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4 create-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                <input asp-for="Member.FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input asp-for="Member.LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <select asp-for="Member.MemberTitle" class="form-select" id="title">
                    <option value="President">President</option>
                    <option value="Bishop">Bishop</option>
                    <option value="Elder">Elder</option>
                    <option value="Sister">Sister</option>
                    <option value="Brother">Brother</option>
                    <option value="Patriarch">Patriarch</option>
                </select>
                <span asp-validation-for="Member.MemberTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="create-member-btn" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
