@page
@using SacramentMeetingPlanner.Models
@model SacramentMeetingPlanner.Pages.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Deseret Ward</h1>

<h4>Edit Member Information</h4>
<hr />
<div class="row">
    <div class="col-md-4 create-form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Member.ID" />
            <div class="form-group mt-4">
                <label asp-for="Member.FirstName" class="control-label"></label>
                <input asp-for="Member.FirstName" class="form-control" />
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="Member.LastName" class="control-label"></label>
                <input asp-for="Member.LastName" class="form-control" />
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Member.MemberTitle" class="control-label"></label>
                @Html.DropDownList("Member.MemberTitle", Html.GetEnumSelectList<Title>(), "Select Title",new { @class = "form-control" })
                <span asp-validation-for="Member.TopicChoice" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Member.TopicChoice" class="control-label"></label>
                @Html.DropDownList("Member.TopicChoice", Html.GetEnumSelectList<Topic>(), "Select Topic",new { @class = "form-control" })
                <span asp-validation-for="Member.TopicChoice" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
         
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var listOfEnums = Member.TopicChoice.GetValues(typeof (Topic)).Cast<Topic>().ToList();
    </script>
}
