html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.speakers {
    display: none;
}
.print-date {
    display: none;
}

#sleepy {
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    margin-top: 1.5rem;
}

#create-member-btn {
    margin: 23px 0 23px 0;
}
.create-form {
    width: 40%;
    background-color: #93CBF1;
    margin: 0 auto;
}
#flourish {
    display: none;
}
@media print {
    header, footer, dt, #links {
        display: none;
    }

    h1, h4 {
        visibility: hidden;
        position: relative;
    }

    .print-date {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        left: 1.5rem;
    }
    .speakers {
        display: block;
    }
    .speakers::before {
        content: "Speakers";
        font-size: 25px;
    }
    #administration {
        display: block;
        font-size: 25px;
        text-align: center;
    }
    .no-print {
        display: none;
    }
    h1::before {
        content: "Deseret Ward";
        visibility: visible;
        position: absolute;
        top: 0;
        left: 30%;
        font-size: 1.5em;
    }

    h1::after {
        content: "Sacrament Meeting"
    }

    @page {
        margin: 1cm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #date {
        display: none;
    }

    #op::before {
        content: "Opening Prayer:  ";
    }

    #oh::before {
        content: "Opening Hymn: #"
    }

    #sh::before {
        content: "Sacrament Hymn: #";
    }

    #ch::before {
        content: "Closing Hymn: #"
    }

    #cp::before {
        content: "Closing Prayer:  "
    }

    h4::before {
        content: "\a";
        color: blue;
        padding: 20px;
    }

    #conductor::before {
        content: "Conducting:  ";
    }

    #program {
        border: none;
    }

    .card-header {
        border: none;
        background: white;
    }


    body {
        font-size: 20px;
    }
}

    /*#create-meeting-btn {
        display: grid;
        justify-content: center;
    }*/



}

